/* styling body */
.container {
    max-width: 1200px;
    margin: auto;
    background-color: white;
}
body {
    background-color: #d7d7d7;
}  
/* anchor tag decoration*/ 
a {
    text-decoration: none;
    color: rgba(7,51,167,1);
}
  
a:hover {
    color: lightblue;
}
  
/* row and column decoration */
.each {
    margin: 0px -18px;
    padding: 8px;
}
  
.each > .col {
    padding: 6px;
}
  
.col {
    float: left;
    width: 25%;
}
  
.each:after {
    content: "";
    display: table;
    clear: both;
}
  
/* content decoration */
.content {
    background-color: white;
    padding: 10px;
}
  
/*window size 850 width set */
@media screen and (max-width: 850px) {
    .col {
        width: 50%;
    }
}

/* window size 400 width set */ 
@media screen and (max-width: 400px) {
    .col {
        width: 100%;
    }
}